In [1]:
import spacy 
  
nlp = spacy.load('en_core_web_sm')

C:\Users\ANKAN\anaconda3\lib\site-packages\spacy\util.py:275: UserWarning: [W031] Model 'en_core_web_sm' (2.2.0) requires spaCy v2.2 and is incompatible with the current spaCy version (2.3.4). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

In [2]:
import pandas as pd
df = pd.read_csv('Model2_stage2.csv')
df.head()

   predicted                                               text
0          0  14 amu students charged with sedition after ca...
1          0  pony operators go on strike, char dham yatra a...
2          0  two held hostage, robbed at gunpoint in farruk...
3          0  () hanuman jayanti is celebrated on the first ...
4          0  abhinandan is now in rajasthan school text jai...

In [3]:
#df = df.drop(columns=['annotation_sm','annotation_type'])
df

     predicted                                               text
0            0  14 amu students charged with sedition after ca...
1            0  pony operators go on strike, char dham yatra a...
2            0  two held hostage, robbed at gunpoint in farruk...
3            0  () hanuman jayanti is celebrated on the first ...
4            0  abhinandan is now in rajasthan school text jai...
..         ...                                                ...
495          1  bsp man refuses to give back pajero, friend wr...
496          1  ranveer singh is proud of arjun kapoor for thi...
497          1  gurugram: police to project a polite new face ...
498          1  former armyman detained as ‘foreigner’ in assa...
499          1  mayor participated in the process by using a p...

[500 rows x 2 columns]

In [4]:
df1 = df[df['predicted'] == 0]
df1

    predicted                                               text
0           0  14 amu students charged with sedition after ca...
1           0  pony operators go on strike, char dham yatra a...
2           0  two held hostage, robbed at gunpoint in farruk...
3           0  () hanuman jayanti is celebrated on the first ...
4           0  abhinandan is now in rajasthan school text jai...
5           0  gets an art space named after artist baadal na...
6           0  class ix student falls off cycle, run over by ...
7           0  bandra corporator’s husband nabbed for peacema...
8           0  cdlu faculty had reported fake cases against e...
9           0  three helmetless teenagers badly hurt as car c...
10          0  seeks bengal report on contai clashes contai/k...
11          0  fire in vasai industrial estate, over 20 units...
12          0  anyone familiar with american tv shows or holl...
13          0  3 minor boys killed in baran as tractor-trolle...

In [5]:
words,position,docs = [],[],[]
for ind in df1.index:
    #print("Sentence",ind+1,":")
    doc = nlp(df1['text'].iloc[ind]) 
    for ent in doc.ents: 
        if (ent.label_ == 'CARDINAL'):
            words.append (ent.text)
            position.append(ent.start_char)
            docs.append(ind+1)

In [6]:

NERdf = pd.DataFrame()
NERdf['document_number'] = docs
NERdf['word'] = words
NERdf['position'] = position

NERdf

    document_number              word  position
0                 1                14         0
1                 1          fourteen        64
2                 1               one       318
3                 1               two       502
4                 1                14      1103
..              ...               ...       ...
56               14                12       658
57               14                10       682
58               14                20       770
59               14             three      1024
60               14  at least fifteen      1136

[61 rows x 3 columns]

In [7]:
import re
string = df['text'].iloc[0]
regex = re.compile('killed ([0-9]*)')
print (regex.findall(string))

[]

In [35]:
string = 'I killed 42 birds and attacked 6 animals.'

In [38]:
regex = re.compile('(attacked |killed )([0-9]*)')
print (regex.findall(string))

[('killed ', '42'), ('attacked ', '6')]

In [34]:
word_list = []
doc= nlp(string)
for ent in doc.ents: 
        if (ent.label_ == 'CARDINAL'):
            word_list.append (ent.text)

In [40]:
word_list

['42', 'six']

In [48]:
regex = re.compile('(killed )[pattern]')
print (regex.findall(string))

[]

In [41]:
pattern = '|'.join(word_list)
pattern

'42|six'

In [43]:
string

'I killed 42 birds and attacked 6 animals.'

In [52]:
def matchWords(subject, words):
    regexMetachars = [(){[*+?.\\^$|]/g

    for (i = 0; i < words.length; i++) 
        words[i] = words[i].replace(regexMetachars, "\\$&")

    regex = new RegExp("\\b(?:" + words.join("|") + ")\\b", "gi")

    return subject.match(regex) || []

matchWords(string, ['killed', 'attacked'])

SyntaxError: invalid syntax (<ipython-input-52-97db3abce4ae>, line 2)