In [1]:
import nltk 
import string 
from nltk.corpus import stopwords

In [2]:
data = open('filtered_2019.txt',encoding="utf8").read()

In [6]:
labels, texts = [], []
for i, line in enumerate(data.split("\n")):
    content = line.split()
    labels.append("label_1")
    texts.append(" ".join(content[1:]))

In [7]:
import pandas
df= pandas.DataFrame()

df['label'] = labels
df['text'] = texts

In [9]:
df

         label                                               text
0      label_1  ties up with jjp in haryana, to fix seats soon...
1      label_1  mango to flood markets from next week bad weat...
2      label_1  rights panel seeks report on minor’s rape and ...
3      label_1  science congress: two students secure ‘a’ grad...
4      label_1  hc junks plea to allow people to take own food...
...        ...                                                ...
72588  label_1  supporter rush spooks cops, leads to traffic s...
72589  label_1  kilometers of road was damaged due to excessiv...
72590  label_1  gowariker: we feel good about the emotion of b...
72591  label_1  can shine light on the path of life’ | nov 24,...
72592  label_1

[72593 rows x 2 columns]

In [37]:
df['text'].iloc[4]

"' A whopping 42 film releases, but only half survive the weekend Comments () Sort: SIGN IN WITH ORPOSTWITHOUTREGISTRATION Refrain from posting comments that are obscene, defamatory or inflammatory, and do not indulge in personal attacks, name calling or inciting hatred against any community. Help us delete comments that do not follow these guidelines by marking them offensive. Let's work together to keep the conversation civil. Be the first one to review. We have sent you a verification email. To verify, just follow the link in the message A whopping 42 film releases, but only half survive the weekend On Friday, one of the biggest conversation starters both online and offline was the sheer number of film released in the city. With around 42 new releases in 11 languages, along with a host of existing films, it seemed like an impromptu film festival at city multiplexes. But after the initial fuss, half of these could not sustain themselves in movie halls beyond day one. Only a handful of films across languages have managed shows into the weekend as well. While the issue of too many films hitting screens on one day has cropped up in the past as well, this week’s total, though, caught everyone by surprise. The question here is, what purpose does it serve when they can’t keep up thereafter? A risky development Veteran filmmaker P Sheshadri, whose Kannada film was among those released this week, says, “It is great that films from many languages are releasing, which makes it seem that cinema is truly shining here. After all, even a Bhojpuri film finds space in a Bengaluru multiplex.” Although films in 11 languages released on Friday, by the weekend, bookings were open only for a few movies in five languages. Film publicist Sudhindra Venkatesh observes, “This is a risky development. Ten Kannada films is a record. Add to that the 30-plus releases in other languages and it becomes unimaginable. The number of screens are limited, as are the audience. So, this not only affects the prospects of the particular films that release, but also the local industry.” What gives Venkatesh says that this year in particular has been tough for smaller films in Kannada. “We have had many big star releases, and December does have a few lined up. This is why everyone is trying to release when they have a chance. They don’t get enough cinema halls eventually and do not reach the audience, even if they are good.” A senior film distributor on condition of anonymity says, “It baffled all of us that over 40 films were being released in Bengaluru. We knew that most would not stay beyond a day or two. In fact, by Monday, even fewer will survive. The problem with that, though, is that moviegoers will single out films that star familiar names, while those with newbies that have not been publicised well enough lose out.” New release tactics Film observer and strategist Harish Mallya says some of the newer indie releases are trying new techniques, which could help them sustain. “The case of the release of the Assamese film Aamis is interesting. The start-up that is distributing the film decided to have a limited release in big metros that involved just a screen or two in multiplexes in the first weekend. The word of mouth and publicity on social media helped the show sustain for a week in most metros.” Comments (0) Refrain from posting comments that are obscene, defamatory or inflammatory, and do not indulge in personal attacks, name calling or inciting hatred against any community. Help us delete comments that do not follow these guidelines by marking them offensive. Let's work together to keep the conversation civil."

In [38]:
import numpy as np
df['text'].replace('', np.nan, inplace=True)

In [39]:

df['text'].replace('\'', np.nan, inplace=True)
df['text'].replace('\()', np.nan, inplace=True)
df.dropna(subset=['text'], inplace=True)
df

         label                                               text
2      label_1  ' Cats are lucky charms! Comments () Sort: SIG...
4      label_1  ' A whopping 42 film releases, but only half s...
6      label_1  ' Top Searches: Plan your celebrations under t...
8      label_1  ' I like to think Indian food is better unders...
10     label_1  ' Women are beginning to demand and get equal ...
...        ...                                                ...
91176  label_1  ' Top Searches: Hyderabad’s schools secure top...
91178  label_1  ' No signs of Buddhist era in Vommali site VIS...
91180  label_1  ' No space to move, TTD plans to take Parakama...
91182  label_1  ' Top Searches: Govt e-system to check cheap s...
91184  label_1  ' Gitam aims to hold mammoth innovation fest H...

[45384 rows x 2 columns]

In [40]:
df['text'].iloc[1]

"' A whopping 42 film releases, but only half survive the weekend Comments () Sort: SIGN IN WITH ORPOSTWITHOUTREGISTRATION Refrain from posting comments that are obscene, defamatory or inflammatory, and do not indulge in personal attacks, name calling or inciting hatred against any community. Help us delete comments that do not follow these guidelines by marking them offensive. Let's work together to keep the conversation civil. Be the first one to review. We have sent you a verification email. To verify, just follow the link in the message A whopping 42 film releases, but only half survive the weekend On Friday, one of the biggest conversation starters both online and offline was the sheer number of film released in the city. With around 42 new releases in 11 languages, along with a host of existing films, it seemed like an impromptu film festival at city multiplexes. But after the initial fuss, half of these could not sustain themselves in movie halls beyond day one. Only a handful of films across languages have managed shows into the weekend as well. While the issue of too many films hitting screens on one day has cropped up in the past as well, this week’s total, though, caught everyone by surprise. The question here is, what purpose does it serve when they can’t keep up thereafter? A risky development Veteran filmmaker P Sheshadri, whose Kannada film was among those released this week, says, “It is great that films from many languages are releasing, which makes it seem that cinema is truly shining here. After all, even a Bhojpuri film finds space in a Bengaluru multiplex.” Although films in 11 languages released on Friday, by the weekend, bookings were open only for a few movies in five languages. Film publicist Sudhindra Venkatesh observes, “This is a risky development. Ten Kannada films is a record. Add to that the 30-plus releases in other languages and it becomes unimaginable. The number of screens are limited, as are the audience. So, this not only affects the prospects of the particular films that release, but also the local industry.” What gives Venkatesh says that this year in particular has been tough for smaller films in Kannada. “We have had many big star releases, and December does have a few lined up. This is why everyone is trying to release when they have a chance. They don’t get enough cinema halls eventually and do not reach the audience, even if they are good.” A senior film distributor on condition of anonymity says, “It baffled all of us that over 40 films were being released in Bengaluru. We knew that most would not stay beyond a day or two. In fact, by Monday, even fewer will survive. The problem with that, though, is that moviegoers will single out films that star familiar names, while those with newbies that have not been publicised well enough lose out.” New release tactics Film observer and strategist Harish Mallya says some of the newer indie releases are trying new techniques, which could help them sustain. “The case of the release of the Assamese film Aamis is interesting. The start-up that is distributing the film decided to have a limited release in big metros that involved just a screen or two in multiplexes in the first weekend. The word of mouth and publicity on social media helped the show sustain for a week in most metros.” Comments (0) Refrain from posting comments that are obscene, defamatory or inflammatory, and do not indulge in personal attacks, name calling or inciting hatred against any community. Help us delete comments that do not follow these guidelines by marking them offensive. Let's work together to keep the conversation civil."

In [41]:
df.drop_duplicates(subset ="text", 
                     keep = False, inplace = True) 
df=df.drop(columns=['label'])
df

                                                    text
2      ' Cats are lucky charms! Comments () Sort: SIG...
4      ' A whopping 42 film releases, but only half s...
6      ' Top Searches: Plan your celebrations under t...
8      ' I like to think Indian food is better unders...
10     ' Women are beginning to demand and get equal ...
...                                                  ...
91176  ' Top Searches: Hyderabad’s schools secure top...
91178  ' No signs of Buddhist era in Vommali site VIS...
91180  ' No space to move, TTD plans to take Parakama...
91182  ' Top Searches: Govt e-system to check cheap s...
91184  ' Gitam aims to hold mammoth innovation fest H...

[41303 rows x 1 columns]

In [42]:
df1=df
df1['text'] = df['text'].str.replace('Comments','')
df1['text'] = df['text'].str.replace('Top Searches:','')
df1['text'] = df['text'].str.replace('TNN | Updated:','')
df1['text'] = df['text'].str.replace('Sort:','')
df1['text'] = df['text'].str.replace('SIGN IN WITH ORPOSTWITHOUTREGISTRATION ','')
df1['text'] = df['text'].str.replace('picture for representational purpose only','')
df1['text'] = df['text'].str.replace('Refrain from posting comments that are obscene, defamatory or inflammatory, and do not indulge in personal attacks, name calling or inciting hatred against any community. ','')
df1['text'] = df['text'].str.replace('Help us delete comments that do not follow these guidelines by marking them offensive. Let\'s work together to keep the conversation civil.','')
df1['text'] = df['text'].str.replace('Be the first one to review. We have sent you a verification email. To verify, just follow the link in the message ','')
df1.text.iloc[6]

"' Leaves of all cops in Maharashtra cancelled AURANGABAD: The state police headquarters has issued orders to all unit commanders in the state to cancel leaves of officers across ranks until December 6. The move is being seen as an attempt to prevent senior officers from making a beeline for political leaders who are part of the new government in the state . “Sensing a change in the direction the wind is blowing, several police officers have been meeting with senior politicians in Mumbai. News of these meetings has not gone down well with the DGP’s office,” a source said. Many senior officials refused to comment on the cancellation of leaves, which was part of an oral communication. But some said the move is important, especially considering the government transition and Babri Masjid demolition anniversary on December 6 — the first since the Ayodhya verdict. “Heads will roll isfthere is a law and order problem. Nobody wants that,” an official holding the rank of superintendent of police, who was recently transferred to the Marathwada region, said."

In [43]:
DF= df1
# Load the regular expression library
import re
# Remove punctuation
#DF['text_processed'] = DF['text'].map(lambda x: re.sub('[,\.!?]', '', x))
# Convert the titles to lowercase
DF['text_processed'] = DF['text'].map(lambda x: x.lower())
# Print out the first rows of DF

In [44]:
df1 = DF.drop(columns = ['text'])

In [45]:
df1.to_csv('TOI_last.txt', header=None, index=None, sep=' ', mode='a')
df1.to_csv('TOI_last.csv')

In [46]:
from sklearn.utils import shuffle
data = shuffle(df1)
data

                                          text_processed
66738  ' mohit hajela of jaquar group explains design...
60114  ' aditi rao hydari: trolling is a reality you ...
62486  ' a cop stands at the entrance of shyakra para...
41282  ' igcs shaurya on visit to indonesia | nov 19,...
13188  ' crime branch raids hookah parlour, detains 1...
...                                                  ...
770    ' chandigarh: man gets 10-year rigorous impris...
43542  '  ()   the tuesday (november 19) episode of b...
32314  '  delhi: uber told to pay activist for financ...
45168  ' kanyakumari utilising half of fisheries budg...
58108  '  delhi: schools reopen, parents improvise to...

[41303 rows x 1 columns]